<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
      <h5 class="my-0 mr-md-auto font-weight-normal">Deadliner</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Main page</a>
       <a class="p-2 text-dark" href="/schedule">Schedule</a>
          <a class="btn btn-warning" href="/create-schedule">Create schedule</a>
          <a class="p-2 text-dark" href="/deadlines">Deadlines</a>
          <a class="btn btn-warning" href="/create-deadlines">Create deadlines</a>
      </nav>

    </div>
    {% block body %}{% endblock body %}
</body>
</html>